body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.main-content {
    transition: margin-left 0.5s;
    padding: 16px;
    position: relative;
    z-index: 1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    /* Hintergrundfarbe der Seitenleiste */
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;
    /* Deckkraft für den Hauptinhalt */
    z-index: 0;
    /* Stellt sicher, dass die Seitenleiste unter dem Hauptinhalt liegt */
}

.sidenav a {
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #444;
    /* Hintergrundfarbe beim Hover-Effekt */
}

.main-content {
    transition: margin-left 0.5s;
    padding: 16px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 12px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.schedule {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #dee2e6;
}

th {
    background-color: #343a40;
    color: #fff;
}

td {
    background-color: #fafafa;
    /* Hintergrundfarbe der Zellen */
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
    /* Hintergrundfarbe der geraden Zeilen */
}

tr:hover td {
    background-color: #e6e6e6;
    /* Hintergrundfarbe bei Hover */
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.buttons-container {
    text-align: center;
    margin: 20px 0;
}

.info-btn,
.download-btn,
.export-btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 25px;
    /* Abgerundete Ecken */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* Flüssiger Übergangseffekt */
}

.info-btn {
    background-color: #007bff;
    /* Farbe für Informationsbuttons */
}

.download-btn {
    background-color: #28a745;
    /* Farbe für Downloadbuttons */
}

.export-btn {
    background-color: #dc3545;
    /* Farbe für Exportbuttons */
}

.info-btn:hover {
    background-color: #0056b3;
    /* Farbe für Hover-Effekt bei Informationsbuttons */
    transform: translateY(-3px);
    /* Verschiebung nach oben */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Schatten */
}

.download-btn:hover {
    background-color: #218838;
    /* Farbe für Hover-Effekt bei Downloadbuttons */
    transform: translateY(-3px);
    /* Verschiebung nach oben */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Schatten */
}

.export-btn:hover {
    background-color: #c82333;
    /* Farbe für Hover-Effekt bei Exportbuttons */
    transform: translateY(-3px);
    /* Verschiebung nach oben */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Schatten */
}

.quote-block {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f0f0f0;
    /* Geänderter Hintergrund des Zitatblocks */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #ffc107;
    /* Gelbe Farbe für die linke Border */
    border-radius: 8px;
}

blockquote {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: #333;
    /* Dunkle Textfarbe */
}

blockquote p {
    margin-bottom: 10px;
}

.notes-block {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.notes-block h2 {
    margin-top: 0;
    color: #343a40;
}

.notes-block textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    resize: vertical;
}

.notes-block button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #87cefa;
    /* Pastellfarbe für den Button */
    border: none;
    border-radius: 25px;
    /* Abgerundete Ecken */
    cursor: pointer;
    transition: background-color 0.3s;
}

.notes-block button:hover {
    background-color: #5f9eea;
    /* Farbe für Hover-Effekt */
}