body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.schedule {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.dbp {
    background-color: #ffcccb;
}

.bv {
    background-color: #d1e7dd;
}

.bs {
    background-color: #cfe2ff;
}

.ana {
    background-color: #ffe4b5;
}

.ti {
    background-color: #f0e68c;
}

.legend {
    margin-top: 20px;
    padding: 10px;
}

.legend h2 {
    margin-bottom: 15px;
    color: #333;
}

.legend ul {
    list-style: none;
    padding: 0;
}

.legend li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.legend-color.dbp {
    background-color: #ffcccb;
}

.legend-color.bv {
    background-color: #d1e7dd;
}

.legend-color.bs {
    background-color: #cfe2ff;
}

.legend-color.ana {
    background-color: #ffe4b5;
}

.legend-color.ti {
    background-color: #f0e68c;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position the tooltip above the text */
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}